.filter-top {
	padding: 8px 0;
	text-align: center;
	background-color: var(--main-color);
}
.filter-top span {
	color: #ffffff;
}

.filter-section {
	margin-top: 36px;
	margin-bottom: 20px;
	text-align: center;
	justify-content: center;
}
.filter-section .title {
	font-family: 'Nanum acEB';
	font-size: 18px;
}
.filter-section .sub {
	font-family: 'Nanum acR';
	font-size: 12px;
	color: #939393;
}

.btn-filter-search {
	width: 100%;
	padding: 14px 0;
	border: none;
	border-radius: 27px;
	background-color: #3bc1c4;
	
	text-align: center;
	font-size: 18px;
	color: #ffffff;
}
.btn-filter-search:focus { outline: 0; }


/* View Page */
.common-info {
	padding: 12px 0;
}
.common-info .summary {
	display: flex;
	align-items: center;
	margin-bottom: 24px;
}
.common-info .summary .name {
	font-family: 'Nanum acEB';
	font-size: 22px;
	margin-left: 6px;
	margin-right: 6px;
}
.common-info .summary .dis {
	font-size: 12px;
	color: #a7a7a7;
	margin-right: 6px;
	align-self: flex-end;
}
.common-info .summary .time {
	font-size: 12px;
	color: var(--main-color);
	margin-right: 4px;
	align-self: flex-end;
}

.common-info .score {
	margin-bottom: 4px;
}
.common-info .score .title {
	text-align: center;
	font-family: 'Nanum acEB';
	font-size: 18px;
	margin-bottom: 0px;
}
.common-info .score .title .main-color {
	font-family: 'Nanum acEB';
}
.common-info .score .sub {
	text-align: center;
	font-family: 'Nanum acR';
	font-size: 12px;
	color: #797979;
}


.detail-info {}
.detail-info .title {
	font-family: 'Nanum acEB';
	font-size: 18px;
	margin-bottom: 4px;
}
.detail-info .text {
	font-family: 'Nanum acR';
	font-size: 12px;
	margin-bottom: 4px;
}

.detail-info .info-list {
	list-style: none;
	padding: 0; margin: 8px 0;
	width: 100%;
}
.detail-info .info-list li {
	display: flex;
	flex-direction: row;
	margin-bottom: 6px;
}
.detail-info .info-list li span:first-child {
	font-family: 'Nanum acEB';
	font-size: 12px;
	margin-right: 4px;
}
.detail-info .info-list li span:last-child {
	font-family: 'Nanum acR';
	font-size: 12px;
	margin-right: 4px;
}


.btn-path {
	position: fixed;
	width: 100%;
	max-width: var(--app-max-size);
	bottom: 0;

	padding: 18px 0;
	border: none;
	font-size: 20px;
	color: #ffffff;
	background-color: var(--main-color);
}
.btn-path:focus { outline: 0; }
.btn-path svg { margin-left: 4px; }


/* component */
.untact-bar-box {
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: space-around;
}
.untact-bar-box .score {
	font-family: 'Nanum acEB';
	font-size: 14px;
	color: var(--main-color);
	margin-left: 12px;
	display: -webkit-inline-box;
}
.untact-bar {
	position: relative;
	width: 100%;
	height: 12px;
	margin: 3px 0;
	border-radius: 6px;
  background-image: linear-gradient(to right, #f13d3d 8%, #e4cd27 20%, #3bc1c4 100%);
}
.untact-bar .none {
	position: absolute;
	top: 0; right: 0;
	height: 12px;
	border-radius: 0 6px 6px 0;
	background-color: #e8e8e8;
}

.untact-bar .bad, .untact-bar .normal, .untact-bar .safe {
	font-family: 'Nanum acEB';
	font-size: 9px;
	position: absolute;
	top: 14px;
}
.untact-bar .bad {
	left: 2%;
	color: #f0413d;
}
.untact-bar .bad::after {
	content: '';
	position: absolute;
	top: -2px; left: 46%;
	width: 1px; height: 4px;
	background-color: #f0413d;
}
.untact-bar .normal {
	left: 17%;
	color: #e4cd27;
}
.untact-bar .normal::after {
	content: '';
	position: absolute;
	top: -2px; left: 50%;
	width: 1px; height: 4px;
	background-color: #e4cd27;
}
.untact-bar .safe {
	left: 57%;
	color: #3bc1c4;
}
.untact-bar .safe::after {
	content: '';
	position: absolute;
	top: -2px; left: 50%;
	width: 1px; height: 4px;
	background-color: #3bc1c4;
}