@font-face {
	font-family: 'Mont Heavy';
  src: url('../fonts/Mont-HeavyDEMO.otf');
}
@font-face {
	font-family: 'Nanum acR';
  src: url('../fonts/NanumSquare_acR.ttf');
}
@font-face {
	font-family: 'Nanum acB';
  src: url('../fonts/NanumSquare_acB.ttf');
}
@font-face {
	font-family: 'Nanum acEB';
  src: url('../fonts/NanumSquare_acEB.ttf');
}

* {
	font-family: 'Nanum acB';
	color: var(--black);
}